<div class="container">
    <div class="justify-content-center my-5" *ngIf="post">
        <div class="card">
            <div class="card-body">                
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div *ngIf="prev">
                        <a [routerLink]="['/post', post.id-1]" class="card-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </a>
                    </div>
                    <div *ngIf="!prev"></div>
                    <h3 class="display-6 text-secondary text-center">{{post.title | uppercase}}</h3>
                    <div *ngIf="next">
                        <a [routerLink]="['/post', post.id+1]" class="card-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                    <div *ngIf="!next"></div>
                </div>
                <div class="card-body d-flex justify-content-between text-primary">
                    <h4 class="card-subtitle">{{post.description}}</h4>
                    <h5 class="card-title">
                        <span>{{post.date | date:"yyyy.MM.dd"}}</span>
                    </h5>
                </div>
                <div class="card-body">
                    <markdown [src]="post.content" emoji ngPreserveWhitespaces lineNumbers
                        katex clipboard [clipboardButtonComponent]="clipboardButton">
                    </markdown>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div *ngIf="prev">
                        <a [routerLink]="['/post', post.id-1]" class="card-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-chevron-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
                            </svg>
                        </a>
                    </div>
                    <div *ngIf="!prev"></div>
                    <div *ngIf="next">
                        <a [routerLink]="['/post', post.id+1]" class="card-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor"
                                class="bi bi-chevron-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" *ngIf="post == null || post == undefined" class="row my-5 text-center text-primary">
        <h3>
            Post not found!
        </h3>
    </div>
</div>