<!-- <div class="container-fluid">
    <div class="row">
        <nav class="col-2 sticky-top dark-gradient navbar navbar-expand-md navbar-light fixed-left w-20 align-items-xl-center"
            id="sidebar">
            <app-sidebar></app-sidebar>
        </nav>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div> -->

<nav class="sticky-top dark-gradient navbar navbar-expand-md navbar-light fixed-left w-20 align-items-xl-center"
    id="sidebar">
    <app-sidebar></app-sidebar>
</nav>
<div class="my-4">
    <router-outlet></router-outlet>
</div>