<div class="container">
    <div class="display-4 mt-5 text-center">Résumé</div>
    <hr>

    <div *ngIf="jobs" class="my-5">
        <div class="display-6 my-5 text-center">Working experience</div>
        <div class="row list-group justify-content-center">
            <div *ngFor="let job of jobs" class="align-items-center">
                <div class="d-flex justify-content-between my-0">
                    <div class="col-1"></div>
                    <div class="col-2">
                        {{job.dateFrom}} - {{job.dateTo}}
                    </div>
                    <div class="col-7">
                        <div>
                            {{job.title | uppercase}}
                        </div>
                        <div class="my-2 text-muted col-9">
                            {{job.institution}}
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>
                <div *ngIf="job.details">
                    <div *ngFor="let detail of job.details" class="row">
                        <div class="col-3"></div>
                        <div class="col-7">
                            {{detail}}
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <div class="col-3"></div>
                    <hr class="col-7">
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="schools" class="my-5">
        <div class="display-6 my-5 text-center">Education</div>
        <div class="row list-group justify-content-center">
            <div *ngFor="let school of schools" class="align-items-center">
                <div class="d-flex justify-content-between my-0">
                    <div class="col-1"></div>
                    <div class="col-2">
                        {{school.dateFrom | date: "yyyy.MM" }} - {{school.dateTo | date: "yyyy.MM"}}
                    </div>
                    <div class="col-7">
                        <div>
                            {{school.name | uppercase}}
                        </div>
                        <div *ngIf="school.note">
                            <div class="text-muted">
                                {{school.note}}
                            </div>
                        </div>
                        <div class="my-2 text-muted">
                            <div *ngIf="school.scholarships.length">
                                <div class="text-muted">
                                    Scholarships
                                </div>
                                <div *ngFor="let scholarship of school.scholarships">
                                    <div>
                                        {{scholarship}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="school.result">
                            <div class="text-muted">
                                Diploma result
                            </div>
                            <div>
                                {{school.result}}
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="col-3"></div>
                    <hr class="col-7">
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="summerSchools" class="my-5">
        <div class="display-6 my-5 text-center">Summer Schools</div>
        <div class="row list-group justify-content-center">
            <div *ngFor="let school of summerSchools" class="align-items-center">
                <div class="d-flex justify-content-between my-0">
                    <div class="col-2"></div>
                    <div class="col-1">
                        {{school.year}}
                    </div>
                    <div class="col-7">
                        <div>
                            <a *ngIf="school.webpage" href="{{school.webpage}}"> {{school.name | uppercase}} </a>
                        </div>
                        <div class="my-2">
                            <div *ngIf="school.topics.length">
                                <div class="text-muted">
                                    Topics
                                </div>
                                <div *ngFor="let topic of school.topics">
                                    <div>
                                        {{topic}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2"></div>
                </div>

                <div class="d-flex justify-content-between">
                    <div class="col-3"></div>
                    <hr class="col-7">
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="competitions" class="my-5">
        <div class="display-6 my-5 text-center">Competitions</div>
        <div class="row list-group justify-content-center">
            <div *ngFor="let comp of competitions" class="align-items-center">
                <div class="d-flex justify-content-between my-0">
                    <div class="col-2"></div>
                    <div class="col-1">
                        {{comp.year}}
                    </div>
                    <div class="col-6">
                        {{comp.name | uppercase}}
                    </div>
                    <div class="col-1">
                        {{comp.result}}
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="d-flex justify-content-between my-0">
                    <div class="col-3"></div>
                    <hr class="col-7">
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="languages" class="my-5">
        <div class="display-6 my-5 text-center">Languages</div>
        <div class="row list-group justify-content-center">
            <div *ngFor="let lang of languages" class="align-items-center">
                <div class="d-flex justify-content-between my-0">
                    <div class="col-3"></div>
                    <div class="col-6">
                        {{lang.name | uppercase}}
                    </div>
                    <div class="col-3">
                        {{lang.level}}
                    </div>
                </div>
                <div *ngIf="lang.institution" class="d-flex justify-content-between my-0">
                    <div class="col-3"></div>
                    <div class="col-6">
                        {{lang.institution}}
                    </div>
                    <div class="col-3 text-muted">
                        {{lang.year}}
                    </div>
                </div>
                <div class="d-flex justify-content-between my-0">
                    <div class="col-3"></div>
                    <hr class="col-7">
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="display-6 my-5 text-center">Programming skills and languages</div>
        <div *ngIf="programmingLanguages" class="my-5">
            <div class="my-3 text-center">Programming languages</div>
            <div class="row list-group justify-content-center">
                <div *ngFor="let prog of programmingLanguages" class="align-items-center">
                    <div class="d-flex justify-content-between my-0">
                        <div class="col-3"></div>
                        <div class="col-4">
                            {{prog.name}}
                        </div>
                        <div class="col-3" *ngIf="prog.level==1">
                            <div class="progress">
                                <div [ngClass]="{'progress-bar-striped' : isEven(prog)}" class="progress-bar bg-primary" role="progressbar" style="width: 20%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-3" *ngIf="prog.level==2">
                            <div class="progress">
                                <div [ngClass]="{'progress-bar-striped' : isEven(prog)}" class="progress-bar bg-primary" role="progressbar" style="width: 40%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-3" *ngIf="prog.level==3">
                            <div class="progress">
                                <div [ngClass]="{'progress-bar-striped' : isEven(prog)}" class="progress-bar bg-primary" role="progressbar" style="width: 60%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-3" *ngIf="prog.level==4">
                            <div class="progress">
                                <div [ngClass]="{'progress-bar-striped' : isEven(prog)}" class="progress-bar bg-primary" role="progressbar" style="width: 80%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-3" *ngIf="prog.level==5">
                            <div class="progress">
                                <div [ngClass]="{'progress-bar-striped' : isEven(prog)}" class="progress-bar bg-primary" role="progressbar" style="width: 100%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <div class="d-flex justify-content-between my-0">
                        <div class="col-3"></div>
                        <hr class="col-7">
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="technologies" class="my-5">
            <div class="my-3 text-center">Other Technologies</div>
            <div class="list-group">
                <div class="m-2 d-flex justify-content-start">
                    <div class="col-3"></div>
                    <div *ngFor="let tech of technologies" class="col-2">
                        {{tech}}
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="d-flex justify-content-between my-0">
                    <div class="col-3"></div>
                    <hr class="col-7">
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
        <div *ngIf="software" class="my-5">
            <div class="my-3 text-center">Software knowledge</div>
            <div class="list-group">
                <div class="m-2 d-flex justify-content-start">
                    <div class="col-3"></div>
                    <div *ngFor="let soft of software" class="col mx-2">
                        {{soft}}
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="d-flex justify-content-between my-0">
                    <div class="col-3"></div>
                    <hr class="col-7">
                    <div class="col-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>